.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }
.u-hide {
    display: none!important;
}


.cr-scroll-down {
    background-color: rgba($color-black, .68);
    border-radius: 12px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 5.4rem;
    height: 8.8rem;
    z-index: 100;
    cursor: pointer;
    transform: translateX(-50%);
    @include respond(tab-port) {
        bottom: 60px;
    }
    @include respond(tab-land) {
        .top-shadow-short & {
            display: none!important;
        }
    }
    > span {
        position: absolute;
        top: 1rem;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        animation: scrolDownAnim 2s infinite;
        transform: rotate(-45deg);
        opacity: 0;
        box-sizing: border-box;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-left: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            box-sizing: border-box;
            z-index: 2;
        }
        &:nth-of-type(1) {
            animation-delay: 0s;
        }
        &:nth-of-type(2) {
            top: 2.6rem;
            animation-delay: .15s;
        }
        &:nth-of-type(3) {
            top: 4.2rem;
            animation-delay: .3s;
        }
    }
}

.cr-scroll-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 3.5rem;
    height: 5.2rem;
    z-index: 100;
    cursor: pointer;
    transform: translateX(-50%);
    > span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-right: 2px solid $color-gray-1;
        border-top: 2px solid $color-gray-1;
        animation: scrolDownAnim 2s infinite;
        transform: rotate(-45deg);
        opacity: 0;
        box-sizing: border-box;
        &:nth-of-type(3) {
            animation-delay: .3s;
        }
        &:nth-of-type(2) {
            top: 1.6rem;
            animation-delay: .15s;
        }
        &:nth-of-type(1) {
            top: 3.2rem;
            animation-delay: 0s;
        }
    }
}