.site-header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    .scroll-header & {
        background-color: rgba($color-black, .80);
    }
    .fixed-header & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: background-color ease-in-out .5s;
    }
    .fixed-header.fixed-header-enabled & {
        background-color: rgba($color-black, .80);
    }
        
}
.site-branding {
	position: relative;
	width: 18.5rem;
    .site-logo {
        img {
            position: absolute;
            top: 13px;
            transition: opacity .5s;
        }
        .site-main-logo {
            width: 135px;
            height: auto;
            left: 47px;
        }
        .scroll-header-logo {
            width: 42px;
            height: auto;
            left: 92px;
        }
        .scroll-header & {
            .site-main-logo {
                opacity: 0;
                visibility: hidden;
            }
            .scroll-header-logo {
                opacity: 1;
                visibility: visible;
            }
        }
        .scroll-header & {
            .site-main-logo {
                opacity: 1;
                visibility: visible;
            }
            .scroll-header-logo {
                opacity: 0;
                visibility: hidden;
            }
        }
        .fixed-header.fixed-header-enabled & {
            .site-main-logo {
                opacity: 0;
                visibility: hidden;
            }
            .scroll-header-logo {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.site-primary-navigation {
    flex: 1 0 auto;
}
.header-primary-menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0 2.3rem 0 0;
	height: 7rem;
	justify-content: flex-end;
	align-items: center;
    > li {
        position: relative;
        > a{
            &:link, &:visited {
                display: inline-block;
                color: $color-white;
                font-size: 1.4rem;
                height: 7rem;
                line-height: 7rem;
                text-transform: uppercase;
                padding: 0 2.2rem;
            }
            > span {
                display: inline-block;
                position: relative;
                height: 7rem;
                line-height: 7rem;
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-base;
                    content: '';
                    opacity: 0;
                    transition: opacity 0.3s, transform 0.3s;
                    transform: translateY(0);
                    @include color-themes($color:false, $bgcolor:true);
                }
            }
            &:hover > span::after, &:focus > span::after {
                opacity: 1;
                transform: translateY(-17px);
            }
        }
    }
}
.section-header-highlight {
    .header-highlight-button {
        background: $color-base;
        color: $color-white;
        display: inline-block;
        height: 7rem;
        padding: 0 3.2rem;
        font-size: 1.6rem;
        line-height: 6.5rem;
        @include color-themes($color:false, $bgcolor:true);
    }
}
