.site-header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    position: relative;
    .scroll-header & {
        background-color: rgba($color-black, .80);
    }
    .fixed-header & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: background-color ease-in-out .5s;
    }
    .fixed-header.header-scrolled & {
        background-color: rgba($color-black, .80);
    }
        
}
.site-branding {
	position: relative;
	width: 18.5rem;
    .site-logo {
        img {
            position: absolute;
            top: 13px;
        }
        .site-main-logo {
            width: 135px;
            height: auto;
            left: 47px;
        }
        .scroll-header-logo {
            width: 42px;
            height: auto;
            left: 92px;
        }
        .scroll-header & {
            .site-main-logo {
                opacity: 0;
                visibility: hidden;
            }
            .scroll-header-logo {
                opacity: 1;
                visibility: visible;
            }
        }
        .fixed-header & {
            .site-main-logo {
                opacity: 1;
                visibility: visible;
            }
            .scroll-header-logo {
                opacity: 0;
                visibility: hidden;
            }
        }
        .fixed-header.header-scrolled & {
            .site-main-logo {
                opacity: 0;
                visibility: hidden;
            }
            .scroll-header-logo {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.site-primary-navigation {
    flex: 1 0 auto;
}
.section-header-highlight {
    .header-highlight-button {
        background: $color-base;
        color: $color-white;
        display: inline-block;
        height: 7rem;
        padding: 0 3.2rem;
        font-size: 1.6rem;
        line-height: 6.8rem;
        @include color-themes($color:false, $bgcolor:true);
    }
}
