.site-header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    @include respond(tab-land) {
        height: 6rem;
        justify-content: center;
    }
    .scroll-header & {
        background-color: rgba($color-black, .80);
    }
    .fixed-header & {
        transition: background-color ease-in-out .5s;
    }
    .fixed-header.header-scrolled & {
        background-color: rgba($color-black, .80);
    }
        
}
.site-branding {
	position: relative;
	width: 20rem;
    .site-logo {
        img {
            position: absolute;
            top: 13px;
            @include respond(tab-land) {
                top: 9px;
            }
        }
        .site-main-logo {
            //width: 135px;
            //height: auto;
            left: 50%;
            transform: translateX(-50%);
        }
        .scroll-header-logo {
            //width: 42px;
            //height: auto;
            
            left: 50%;
            transform: translateX(-50%);
        }
        .scroll-header & {
            .site-main-logo {
                opacity: 0;
                visibility: hidden;
            }
            .scroll-header-logo {
                opacity: 1;
                visibility: visible;
            }
        }
        .fixed-header & {
            .site-main-logo {
                opacity: 1;
                visibility: visible;
            }
            .scroll-header-logo {
                opacity: 0;
                visibility: hidden;
            }
        }
        .fixed-header.header-scrolled & {
            .site-main-logo {
                opacity: 0;
                visibility: hidden;
            }
            .scroll-header-logo {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
@include respond(tab-land) {
    body.cr-mobile-menu-active {
        position: relative;
        overflow: hidden;
    }
}
.site-mobile-navigation-bg {
    display: none;
    @include respond(tab-land) {
        display: block;
        background: rgba($color-black, .9);
        position: absolute;
        display: box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all .6s cubic-bezier(.645,.045,.355,1); 
        .cr-mobile-menu-active & {
            opacity: 1;
            visibility: visible;
            z-index: 15;
        }
    }
}
.site-mobile-navigation {
    display: none;
    @include respond(tab-land) {
        display: block;
        background: transparent;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all .6s cubic-bezier(.645,.045,.355,1);
        
        .cr-mobile-menu-active & {
            opacity: 1;
            visibility: visible;
            z-index: 16;
        }
    }
}
.site-primary-navigation {
    flex: 1 0 auto;
    @include respond(tab-land) {
        display: none;
    }
}
.section-header-highlight {
    @include respond(tab-land) {
        display: none;
    }
    .header-highlight-button {
        height: 7rem;
        padding: 0 3.2rem;
        font-size: 1.6rem;
        line-height: 6.8rem;
        overflow: hidden;
        span {
            display: inline-block;
            white-space: nowrap;
            transform: translateY(100%);
            transition: all .5s;
            .page-loaded & {
                transform: translateY(0);
            }
        }
    }
}
.mobile-menu-humburger {
    display: none;
    width: 50px;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    z-index: 17;
    @include respond(tab-land) {
        display: block;
    }
    .cr-humburger-box {
        position: absolute;
        left: 16px;
        top: 21px;
    }
}
.mobile-language-selector {
    display: none;
    position: absolute;
    right: 10px;
    top: 0;
    width: 64px;
    height: 60px;
    padding-top: 60px;
    background-color: transparent;
    transition-property: background-color, height;
    transition-duration: .35s, .35s;
    transition-delay: .35s, 0s;
    overflow: hidden;
    &::after {
        position: absolute;
        content: "";
        right: 7px;
        height: 0;
        width: 0;
        border-top: 7px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        display: block;
        top: 28px;
    }
    &:hover {
        transition-delay: 0s, .35s;
        background-color: rgba($color-black, .96);
        height: 210px;
    }
    a {
        display: block;
        height: 50px;
        line-height: 50px;
        width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border .3s;
        &, &:link, &:visited {
            color: $color-white!important;
        }
        &.cr-language-active {
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;
            line-height: 60px;
            text-indent: -8px;
        }
    }
    
    &:hover a {
        border-bottom: 1px solid #1b1b1e;
    }
    @include respond(tab-land) {
        display: block;
    }
}