.header-primary-menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0 2.3rem 0 0;
	height: 7rem;
	justify-content: flex-end;
	align-items: center;
    > li {
        height: 7rem;
        &.cr-menu-child-1 {
            
        }
        > a{
            & {
                display: inline-block;
                font-size: 1.4rem;
                height: 7rem;
                text-transform: uppercase;
                padding: 0 2.2rem;
                overflow: hidden;
                .cr-ie11 & {
                    overflow: visible;
                }
            }
            &, &:link, &:visited {
                color: $color-white!important;
            }
            > span {
                display: inline-block;
                position: relative;
                height: 7rem;
                line-height: 7rem;
                transform: translateY(100%);
                transition: width .5s;
                .page-loaded & {
                    transform: translateY(0);
                }
                
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-base-secondary;
                    content: '';
                    opacity: 0;
                    transition: opacity 0.3s, transform 0.3s;
                    transform: translateY(0);
                    -webkit-transform-style: preserve-3d;
                    -webkit-backface-visibility: hidden;
                    @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: secondary);
                }
            }
        }
        &.cr-portal-menu-item > a{
            & {
                font-weight: 600;
                letter-spacing: 0.5px;
            }
            &, &:link, &:visited {
                color: $color-base!important;
            }
            > span::after {
                background-color: $color-base-secondary!important;
            }
        }
        &:hover > a {
            > span::after {
                opacity: 1;
                transform: translateY(-17px);
                }
            }
        .cr-menu-level-1 {
            position: absolute;
            top: 100%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(5rem);
            transition: all .35s;
            pointer-events: none;
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: flex-start;
            z-index: 5;
            &.cr-menu-level-full {
                left: 0;
                right: 0;
            }
            &.cr-menu-level-inline > li {
                
            }
            > li {
                background-size: cover;
                background-position: center center;
                border-top: 1px solid $color-white;
                border-bottom: 1px solid $color-white;
                border-right: 1px solid $color-white;
                min-height: 260px;
                position: relative;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                will-change: width, background-size;
                transition: all .95s ease;
                &:first-child {
                    border-left: 1px solid $color-white;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 0;
                    background: rgba($color-black, .75);
                    }
                
                .cr-menu-item-content {
                    position: relative;
                    min-height: 6.4rem;
                    padding: 6rem 1rem 3rem;
                    white-space: nowrap;
                    > a{
                        position: absolute !important;
                        left: 50%;
                        top: 50%;
                        opacity: 1;
                        transform: translate(-50%, -50%);
                        }
                    }
                &.menu-item-has-children {
                    .cr-menu-item-content > a {
                        opacity: 1;
                        transition-property: top, transform;
                        transition-duration: .5s;
                        transition-delay: .35s;
                        }
                    &.not-hover .cr-menu-item-content > a {
                    }
                    &.on-hover .cr-menu-item-content > a {
                        transition-delay: .95s;
                        top: 2rem;
                        transform: translate(-50%, 0);
                        .cr-ie11 & {
                            top: 1%;
                            transform: translate(-50%, 16px);
                        }
                    }
                }
                a {
                   color: $color-white!important;
                   font-size: 1.4rem;
                   text-transform: uppercase;
                   text-decoration: none;
                   display: inline-block;
                   padding: 0 0 4px;
                   position: relative;
                }
                
                .cr-menu-level-2 {
                    opacity: 0;
                    visibility: hidden;
                    transition: all .35s ease;
                    pointer-events: none;
                    list-style: none;
                    transform: translateY(2rem);
                    > li {
                        margin-bottom: 2rem ;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .link-inner {
                            height: auto;
                            line-height: 1.4em;
                            &::after {
                              transform: translateY(2.8rem)!important;
                            }
                        }
                        &:hover a > .link-inner::after {
                            transform: translateY(.9rem)!important;
                        }
                    }
                }
                &.cr-menu-child-twocol .cr-menu-level-2 {
                    column-count: 2;
                }
                &.on-hover .cr-menu-level-2 {
                    transition-delay: 1.4s;
                    opacity: 1;
                    transform: translateY(0);
                    visibility: visible;
                    pointer-events: all;
                }
            }
            &.cr-submenu-items {
                &-1 {
                    justify-content: center;
                    > li {
                        width: 33.333vw;
                        max-width: 44rem;
                    }
                }
                &-2 {
                    > li {
                        width: 33.333vw;
                        max-width: 44rem;
                        &.not-hover {
                            width: 40%;
                            max-width: 100%;
                        }
                        &.on-hover{
                            width: 60%;
                            max-width: 100%;
                        }
                    }
                }
                &-3 {
                    > li {
                        width: 33.333%;
                        &.not-hover {
                            width: 30%;
                            max-width: 100%;
                        }
                        &.on-hover {
                            width: 40%;
                            max-width: 100%;
                        }
                    }
                }
                &-4 {
                    > li {
                        width: 25%;
                        &.not-hover {
                            width: 22%;
                        }
                        &.on-hover {
                            width: 34%;
                        }
                    }
                }
                &-5 {
                    
                    > li {
                        width: 20%;
                        &.not-hover {
                            width: 18%;
                        }
                        &.on-hover {
                            width: 28%;
                            max-width: 100%;
                        }
                    }
                }
                &-6 {
                    
                    > li {
                        width: 16.667%;
                        &.not-hover {
                            width: 15%;
                        }
                        &.on-hover {
                            width: 25%;
                        }
                        
                    }
                }
                
            }
        }
        &.tertiary-menu-strecthed .cr-menu-level-1 > li {
            transition-delay: .85s;
        }
        &:hover .cr-menu-level-1 {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
            pointer-events: auto;
        }
        & .menu-item:not(.menu-item-has-children) >.cr-menu-item-content > a,
        & .menu-item:not(.menu-item-has-children) > a{
            > span {
                display: inline-block;
                position: relative;
                height: 7rem;
                line-height: 7rem;
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-base-secondary;
                    content: '';
                    opacity: 0;
                    transition: opacity 0.3s, transform 0.3s;
                    transform: translateY(0);
                    
                    -webkit-transform-style: preserve-3d;
                    -webkit-backface-visibility: hidden;
                    @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: secondary);
                    }
                }
            &:hover > span::after, &:active > span::after {
                opacity: 1;
                transform: translateY(-17px);
            }
        }
    }
}