/themes/Total/
/themes/newhtml.html
/themes/index.php
/themes/jscomposerbe.js
/themes/qb.js
/themes/qbe.js
/languages/
/mu-plugins/
/plugins/akismet/
/plugins/advanced-custom-fields/
/plugins/advanced-custom-fields-pro/
/plugins/google-tag-manager/
/plugins/wp-site-migrate/
/plugins/updraftplus/
/plugins/slate-pro-admin/
/plugins/gravityforms/
/plugins/wordpress-seo/
/plugins/svg-support/
/plugins/redirection/
/plugins/duracelltomi-google-tag-manager/
/plugins/wd-instagram-feed/
/plugins/worker/
/plugins/wordpress-importer/
/plugins/js_composer/
/plugins/wp-fingerprint/
/plugins/real-media-library/
/plugins/post-duplicator/
/plugins/gravityformsmailchimp/
/plugins/regenerate-thumbnails/
/plugins/revslider/
/plugins/cr-wpbakery-extend/gulp/node_modules/
/plugins/cr-wpbakery-extend/gulp/package-lock.json
/plugins/cr-wpbakery-extend/assets/assets/
.DS_Store
/themes/cr-theme/assets/assets/
/themes/cr-theme/gulp/node_modules/
/themes/cr-theme/gulp/package-lock.json
/index.php
/uploads2/
/uploads/
/updraft/