.cr-404 {
    &-container {
        max-width: 99rem;
        margin: 0 auto;
        padding: 3rem 0;
    }
    &-wrap {
        
    }
    &-text {
        color: $color-gray-1;
        font-size: 1.6rem;
        line-height: 1.9em;
        margin-bottom: 3rem;
        text-align: center;
        transition: all .75s;
        transform: translateY(5rem);
        .page-loaded &.cr_start_animation {
            transform: translateY(0);
        }
        p:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    &-sitemap {
        
    }
}