.cr-button {
    &,
    &:link,
    &:visited {
        background-color: $color-base;
        color: $color-white;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1rem;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 3.6rem 2rem;
        position: relative;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        z-index: 1;
        @include color-themes($color:$color-white, $bgcolor:true);
    }
    &::after {
        display: none!important;
    }
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: darken($color-base, 7);//#cd8e01
        transition: all .3s;
        @each $theme-name, $theme-color in $themes-map-primary {
            .theme-#{$theme-name} & {
                background-color: darken($theme-color, 7);
            }
        }
    }
    
    &:hover {
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}

.cr-button-bordered {
    &,
    &:link,
    &:visited {
        background-color: transparent;
        border: 1px solid $color-base;
        color: $color-base;
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1rem;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 3.6rem 2rem;
        position: relative;

        //Change for the <button> element
        cursor: pointer;
        z-index: 1;
        @include color-themes($color:true, $border-color: true, $bgcolor:false, $secodary: false);
    }
    
    &::after {
        display: none!important;
    }
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: darken($color-base, 7);//#cd8e01
        transition: all .3s;
        @each $theme-name, $theme-color in $themes-map-primary {
            .theme-#{$theme-name} & {
                color: $color-white;
                background-color: darken($theme-color, 7);
            }
        }
    }
    
    &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}
.cr-button-secondary {
    &,
    &:link,
    &:visited {
        background-color: $color-base-secondary;
        color: $color-white;
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1rem;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 3.6rem 2rem;
        position: relative;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        z-index: 1;
        @include color-themes($color:$color-white, $bgcolor:true, $secodary: true);
    }
    &::after {
        display: none!important;
    }
    
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: darken($color-base-secondary, 7);//#cd8e01
        transition: all .3s;
        @each $theme-name, $theme-color in $themes-map-secondary {
            .theme-#{$theme-name} & {
                background-color: darken($theme-color, 7);
            }
        }
    }
    
    &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}

.cr-button-secondary-bordered {
    &,
    &:link,
    &:visited {
        background-color: transparent;
        border: 1px solid $color-base-secondary;
        color: $color-base-secondary;
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1rem;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 3.6rem 2rem;
        position: relative;

        //Change for the <button> element
        cursor: pointer;
        z-index: 1;
        @include color-themes($color:true, $border-color: true, $bgcolor:false, $secodary: true);
    }
    
    &::after {
        display: none!important;
    }
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: darken($color-base-secondary, 7);//#cd8e01
        transition: all .3s;
        @each $theme-name, $theme-color in $themes-map-secondary {
            .theme-#{$theme-name} & {
                background-color: darken($theme-color, 7);
            }
        }
    }
    
    &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}