.cr-button {
    &{
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1em;
        font-weight: 300;
        text-transform: uppercase;
        padding: 2rem 3.6rem;
        position: relative;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        z-index: 1;
        @include respond(tab-port) {
            font-size: 14px;
            padding: 20px 36px;
        } 
    }
    &,
    &:link,
    &:visited {
        background-color: $color-base;
        color: $color-white;
        text-decoration: none;
        @include color-themes($color:$color-white, $bgcolor:true, $border-color:false, $color-type: base);
    }
    &::after {
        display: none!important;
    }
    &::before {
        .no-touchevents & {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background-color: $color-base-secondary;//#cd8e01
            transition: all .3s;
        }
        @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: secondary, $prefix: '.no-touchevents');
    }
    
    .no-touchevents &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}

.cr-button-bordered {
    &{
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 2rem 3.6rem;
        position: relative;

        //Change for the <button> element
        cursor: pointer;
        z-index: 1;
    }
    &,
    &:link,
    &:visited {
        background-color: transparent;
        border: 1px solid $color-base;
        color: $color-base;
        text-decoration: none;
        @include color-themes($color:true, $border-color: true, $bgcolor:false, $color-type: base);
    }
    
    &::after {
        display: none!important;
    }
    &::before {
        .no-touchevents & {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background-color: $color-base-secondary;//#cd8e01
            transition: all .3s;
        }
        @include color-themes($color:$color-white, $bgcolor:true, $border-color:false, $color-type: secondary, $prefix: '.no-touchevents');
    }
    
    .no-touchevents &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}
.cr-button-secondary {
    & {
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 2rem 3.6rem;
        position: relative;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        z-index: 1;
    }
    &,
    &:link,
    &:visited {
        background-color: $color-base-secondary;
        color: $color-white;
        text-decoration: none;
        @include color-themes($color:$color-white, $bgcolor:true, $color-type: secondary);
    }
    &::after {
        display: none!important;
    }
    
    &::before {
        .no-touchevents & {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background-color: $color-base;
            transition: all .3s;
        }
        @include color-themes($color:false, $bgcolor:true, $color-type: base, $prefix: '.no-touchevents');
    }
    
    .no-touchevents &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}

.cr-button-secondary-bordered {
    & {
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 2rem 3.6rem;
        position: relative;

        //Change for the <button> element
        cursor: pointer;
        z-index: 1;
    }
    &,
    &:link,
    &:visited {
        background-color: transparent;
        border: 1px solid $color-base-secondary;
        color: $color-base-secondary;
        text-decoration: none;
        @include color-themes($color:true, $border-color: true, $bgcolor:false, $color-type: secondary);
    }
    
    &::after {
        display: none!important;
    }
    &::before {
        .no-touchevents & {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background-color: $color-base-secondary;
            transition: all .3s;
        }
        @include color-themes($color:false, $bgcolor:true, $color-type: secondary, $prefix: '.no-touchevents');
    }
    
    .no-touchevents &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}

.cr-button-tertiary {
    & {
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1em;
        font-weight: 400;
        text-decoration: none;
        padding: 2rem 3.6rem;
        position: relative;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        z-index: 1;
    }
    &,
    &:link,
    &:visited {
        background-color: $color-base-tertiary;
        color: $color-white;
        text-decoration: none;
        @include color-themes($color:$color-white, $bgcolor:true, $color-type: tertiary);
    }
    &::after {
        display: none!important;
    }
    
    &::before {
        .no-touchevents &{
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background-color: $color-base-secondary;
            transition: all .3s;
        }
        @include color-themes($color:false, $bgcolor:true, $color-type: secondary, $prefix: '.no-touchevents');
    }
    
    .no-touchevents &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}

.cr-button-tertiary-bordered {
    & {
        display: inline-block;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 2rem 3.6rem;
        position: relative;

        //Change for the <button> element
        cursor: pointer;
        z-index: 1;
    }
    &,
    &:link,
    &:visited {
        background-color: transparent;
        border: 1px solid $color-base-tertiary;
        color: $color-base-tertiary;
        text-decoration: none;
        @include color-themes($color:true, $border-color: true, $bgcolor:false, $color-type: tertiary);
    }
    
    &::after {
        display: none!important;
    }
    &::before {
        .no-touchevents & {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background-color: $color-base-secondary;
            transition: all .3s;
        }
        @include color-themes($color:false, $bgcolor:true, $color-type: secondary, $prefix: '.no-touchevents');
    }
    
    .no-touchevents &:hover {
        color: $color-white !important;
        &::before {
            height: 100%;
        }
    }
    &-text {
        
    }
}
