*:focus {
    outline: none;
}
input, select, textarea {
    font-family: inherit;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="num"],
input[type="search"],
textarea,
select {
    padding: 1.3rem 1.2rem 1rem;
    border: 1px solid $color-base;
    color: $color-gray-1;
    @include color-themes($color:true, $border-color: true, $bgcolor:false, $color-type: base);
}
select[multiple="multiple"] {
    padding-top: .7rem;
    padding-bottom: .5rem;
}
input[type="text"]::placeholder, 
input[type="email"]::placeholder, 
input[type="password"]::placeholder, 
input[type="url"]::placeholder, 
input[type="tel"]::placeholder, 
input[type="num"]::placeholder, 
input[type="search"]::placeholder, 
textarea::placeholder {
    color: lighten($color-gray-1, 25%);
}

input[type="submit"], form button {
    background-color: $color-base;
    color: $color-white;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 3.6rem;
    position: relative;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    z-index: 1;
    @include color-themes($color:$color-white, $bgcolor:true, $border-color:false, $color-type: base);
    @include respond(tab-port) {
        font-size: 14px;
        padding: 20px 36px;
    }
}