.cr-site-map {
    &-wrap {
        
    }
    &-inner {
        
    }
    &-menu-wrap {
        text-align: center;
    }
    &-menu {
        display: inline-block;
        text-align: left;
        margin: 0 0 0 1em;
        .sub-menu {
            margin-left: 2em;
        }
        li {
            margin: 0;
            a {
                display: inline-block;
                margin: 0 0 .8rem;
            }
        }
    }
}