.accommodations{
    &-filters {
        &-borders{
            > div {
                &::after, &::before {
                    @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: secondary);
                }
            }
        }
        &-inner {
            @each $theme-name, $theme-color in $themes-map-lightbg{
                .theme-#{$theme-name} & {
                    background-color: $theme-color;
                }
            }
        }
    }
    &-item {
        &-subtitle {
            color: $color-base-secondary;
            @include color-themes($color:true, $bgcolor:false, $color-type: secondary);
        }
    }
    &-filter {
        &-location, &-roomtype {
            @include color-themes($color:false, $bgcolor:false, $border-color:true, $color-type: base);
        }
        &-selected {
            @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: base);
        }
        &-options {
            @each $theme-name, $theme-color in $themes-map-lightbg{
                .theme-#{$theme-name} & {
                    background-color: $theme-color;
                }
            }
        }
        &-arrow {
            svg {
                .cr-path-darrow {
                    @each $theme-name, $theme-color in $themes-map-primary{
                        .theme-#{$theme-name} & {
                            fill: $theme-color;
                        }
                    }
                    
                }
            }
            
        }
        &-options {
            li {
                @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: base);
                &.selected-option, &:hover {
                    color: $color-white;
                    @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: base);
                }
            }
        }
        &-loader {
            svg {
                circle {
                    @each $theme-name, $theme-color in $themes-map-primary{
                        .theme-#{$theme-name} & {
                            fill: $theme-color;
                        }
                    }
                }
            }
        }
    }
}