.cr-blog{
    &-wrapper {
        max-width: 192rem;
        margin: 0 auto 2.5rem;
        padding: 5rem 9.2rem 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include respond(tab-port) {
            max-width: 100%;
            padding: 35px 16px 0;
            display: block;
        }
    }
    &-main {
        flex: 1 0 0;
        padding-bottom: 6rem;
        .cr-ie11 & {
            flex: 1 1 100%;
        }
    }
    &-widget-area {
        width: 32rem;
        border-left: 1px solid $color-base;
        padding-left: 4rem;
        padding-bottom: 6rem;
        margin-left: 6rem;
        @include color-themes($color:false, $border-color: true, $bgcolor:false, $color-type: base);
        @include respond(tab-port) {
            width: auto;
            padding: 0;
            margin: 0;
            border: 0 none;
        }
    }
    &-hentry {
        margin: 0 0 3.5rem;
        padding: 0 0 3.5rem;
        border-bottom: 1px solid $color-base;
        @include color-themes($color:false, $border-color: true, $bgcolor:false, $color-type: base);
        &:last-child {
            border-bottom: 0 none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    &-entry-header {
        margin: 0 0 3rem;
    }
    &-entry-title {
        color: $color-gray-1!important;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.6;
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 1rem;
        @include respond(tab-port) {
            font-size: 24px;
        }
        a {
            color: $color-gray-1!important;
            &::after {
                display: none;
            }
        }
    }
    &-entry-meta {
        ul {
            overflow: hidden;
            list-style: none;
            li {
                float: left;
                border-right: 1px solid $color-gray-1;
                padding: 0 10px 0;
                font-size: 16px;
                line-height: 1em;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    border-right: 0 none;
                }
            }
        }
        .cr-comments-link {
            a {
                display: inline-block;
                position: relative;
                padding-right: 2rem;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    left: auto;
                    top: 0;
                    width: 1.5rem;
                    height: 1.3rem;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    transform: scaleX(-1);
                    filter: FlipH;
                    opacity: 1;
                    background-color: transparent;
                    background-image: url('../images/theme-base/instagram/comments.svg');
                    @include bgimage-themes("instagram/comments.svg");
                }
            }
        }
    }
    &-entry-thumbnail {
        display: block;
        margin-bottom: 2.5rem;
        a {
            max-width: 100%;
            text-decoration: none;
            &::after {
                display: none;
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &-entry-content {
        p {
            margin: 0 0 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-entry-footer {
        border-top: 1px solid $color-base;
        padding-top: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        font-style: italic;
        @include color-themes($color:false, $border-color: true, $bgcolor:false, $color-type: base);
    }
    &-navigation {
        border-top: 1px solid $color-base;
        padding-top: 4rem;
        margin-top: 3rem;
        display: flex;
        flex-wrap: nowrap;
        @include color-themes($color:false, $border-color: true, $bgcolor:false, $color-type: base);
        p {
            flex: 1;
            margin: 0;
            padding: 0;
        }
        &-prev {
            text-align: left;
        }
        &-next {
            text-align: right;
        }
    }
    &-widget {
        margin: 0 0 3.2rem;
        .searchform {
            input[type="search"] {
                width: 100%;
                display: block;
            }
        }
        ul {
            list-style: none;
            li {
                line-height: 1.6em;
                margin: 0 0 1.2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .comment-author-link a {
            color: $color-gray-1!important;
            pointer-events: none;
            &::after {
                display: none;
            }
        }
    }
    &-widget-title {
        color: $color-gray-1!important;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.4;
        text-transform: uppercase;
        margin: 0 0 1.5rem;
    }
    &-wrapper a:not([class*="cr-button"]) {
        display: inline-block;
        position: relative;
        &, &:link, &:visited {
            color: $color-base;
            @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: base);
        }
        &:focus {
            outline: 0 none;
        }
        &::after {
            .no-touchevents & {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $color-base;
                opacity: 0;
                transition: opacity 0.3s, transform 0.3s;
                transform: translateY(1rem);
            }
            @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: base, $prefix: '.no-touchevents');
        }
        .no-touchevents &:hover {
            &::after {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}