.expanding-image {
    @include respond(tab-port) {
        &s-con {
            height: auto;
            max-height: unset;
            display: block;
            position: relative;
        }
        &-item {
            width: 100%!important;
            height: calc((80vh - 70px));
            max-height: 320px;
            &::before {
            }
            &.on-hover {
                height: calc((100vh - 70px));
                max-height: 480px;
            }
            &-cta-wrap {
            }
            & &-cta.cr-button {
                font-size: 16px;
                padding: 18px 32px;
            }
            &:not(.on-hover) &-cta {
                background-color: rgba($color-black, 0)!important;
                &:before {
                    visibility: hidden;
                }
            }
        }
    }
}
