.fxw-grid {
    &-item {
        &-subtitle {
            color: $color-base-secondary;
            @include color-themes($color:true, $bgcolor:false, $color-type: tertiary);
        }
    }
    @include respond(tab-port) {
        &-con {
            display: block;
        }
        &-item {
            width: auto;
            padding: 0;
            margin-bottom: 13px;
            &-inner {
                .cr-has-overlay &::after {
                    transition: unset!important;
                    background-color: rgba($color-black, .68);
                }
            }
            &:hover &-image {
                transform: unset;
            }
            &-text {
                &-inner {
                    transform: unset!important;
                    transition: unset!important;
                }
            }
            &-text-top {
                transform: unset!important;
                transition: unset!important;
                &::after {
                    opacity: 1;
                    transform: unset!important;
                    transition: unset!important;
                }
            }
            &-text-bottom {
                transform: unset!important;
                transition: unset!important;
                opacity: 1;
            }
            &-title {
                transform: unset!important;
                transition: unset!important;
            }
        }
        
    }
}