.fxw-grid {
    &-item {
        &-subtitle {
            color: $color-base-tertiary;
            @include color-themes($color:true, $bgcolor:false, $color-type: tertiary);
        }
    }
    @include respond(tab-land) {
        &-item {
            &-title {
                font-size: 20px;
                margin-bottom: 1.5rem!important;
            }
            &-subtitle {
                font-size: 16px;
                margin-bottom: 1.5rem!important;
            }
            &-text p {
                margin-bottom: 2rem!important;
            }
        }
    }
    @include respond(tab-port) {
        &-con {
            display: block;
        }
        &-item {
            cursor: pointer;
            width: auto;
            padding: 0;
            margin-bottom: 13px;
            &-inner {
                .cr-has-overlay &::after {
                }
            }
            &-imagebg {
                padding-top: 400px;
            }
        }
        
    }
    @include respond(phone) {
        &-item {
            &-imagebg {
                padding-top: 104%;
            }
        }
    }
}