.fw-grid {
    &-item {
        &-borders{
            > div {
                &::after, &::before {
                    @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: secondary);
                }
            }
        }
        &-subtitle {
            color: $color-base-tertiary;
            @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: tertiary);
            .fw-grid-item-noimage & {
                color: $color-base;
                @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: base);
            }
        }
        &-readmore {
            &, &:link, &:visited, &:hover, &:active {
                color: $color-base-tertiary;
                @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: tertiary);
                .fw-grid-item-noimage & {
                    color: $color-base;
                    @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: base);
                }
            }
        }
    } 
}

@include respond(desktop-small-only) {
    .fw-grid {
        &-item {
            &-noimage &-title {
                margin-bottom: 1.5rem!important;
            }
            &-noimage  &-subtitle {
                margin-bottom: 1.5rem!important;
            }
            &-noimage  &-text p {
                margin-bottom: 2rem!important;
            }
        }
    }
}
@include respond(tab-land) {
    .fw-grid {
        &-item {
            &-text-top {
                margin-bottom: 1.5rem!important;
            }
            &-title {
                font-size: 20px;
                margin-bottom: 0!important;
            }
            &-noimage &-title {
                margin-bottom: 1.5rem!important;
            }
            &-subtitle {
                font-size: 16px;
                margin-bottom: 1.5rem!important;
            }
            &-text p {
                margin-bottom: 2rem!important;
            }
            &-cta {
                padding: 14px 36px!important;
            }
        }
    }
}
@include respond(tab-land-only) {
    .fw-grid {
        &-item {
            &-text p {
                display: none;
            }
        }
    }
}
@include respond(tab-port) {
    .fw-grid {
        &-con {
            display: block!important;
        }
        &-item {
            cursor: pointer;
            width: auto!important;
            padding: 0;
            margin-bottom: 13px;
            &-title {
                font-size: 20px;
            }
            &-subtitle {
                font-size: 16px;
            }
            &-sizer {
                padding-top: 420px!important;
            }
        } 
    }
}

@include respond(phone) {
    .fw-grid {
        &-item {
            &-sizer {
                padding-top: 104%!important;
            }
            &-noimage &-sizer {
                display: none;
            }
            &-noimage &-text {
                position: relative;
                min-height: 356px;
            }
            &-text p {
                display: none;
            }
        } 
    }
}