@include respond(tab-land) {
    .cr-scroll-down {
        bottom: 60px;
    }
}
.hero-slider-caption {
    
    @include respond(phone) {
        display: none!important;
    }
    &-1 &-subtitle {
        color: $color-base-tertiary;
        @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: tertiary);
    }
    &-2 &-subtitle {
        color: $color-base-secondary;
        @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: secondary);
    }
    &-3 &-text {
        border-top: 4px solid $color-base-secondary;
        border-bottom: 4px solid $color-base-secondary;
        @include color-themes($color:false, $border-color: true, $bgcolor:false, $color-type: secondary);
    }
    &-4 &-subtitle {
        color: $color-base-secondary;
        @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: secondary);
    }
}
/*.hero-slider-scroll-down {
    background-image: url('../images/theme-base/page-scroll-down-arrow/page-scroll-down-arrow.svg');
    @include bgimage-themes("page-scroll-down-arrow/page-scroll-down-arrow.svg");
}*/
@include respond(phone) {
    .tp-revslider-slidesli[data-taglinetype="type2"]::after {
        display: none;
    }
    .tp-revslider-slidesli[data-taglinetype="type4"]::after {
        display: none;
    }
}