
.hero-slider-caption {
    &-1 &-subtitle {
        color: $color-base-tertiary;
        @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: tertiary);
    }
    &-2 &-subtitle {
        color: $color-base;
        @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: secondary);
    }
    &-3 &-text {
        border-top: 4px solid $color-base;
        border-bottom: 4px solid $color-base;
        @include color-themes($color:false, $border-color: true, $bgcolor:false, $color-type: secondary);
    }
    &-4 &-subtitle {
        color: $color-base;
        @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: secondary);
    }
}
/*.hero-slider-scroll-down {
    background-image: url('../images/theme-base/page-scroll-down-arrow/page-scroll-down-arrow.svg');
    @include bgimage-themes("page-scroll-down-arrow/page-scroll-down-arrow.svg");
}*/