.cr-instagram-feed {
    &-wrap {
        .cr-title-subtitle-wrapper {
            margin-bottom: 3.2rem;
        }
    }
    &-inner {
        
    }
    &-con {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        width: 20%;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        &-inner{
            opacity: 0.5;
            transform-origin: 50% 50%;
            transform: translateX(-20rem);
            transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
            .cr-instagram-feed-image-loaded .cr_start_animation & {
                transform: translateX(0);
                opacity: 1;
            }
        }
        
        &-custom {
            width: 40%;
            background-color: $color-black;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &:not(.cr-instagram-feed-item-custom) &-inner{
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                visibility: hidden;
                opacity: 0;
                background-color: rgba($color-black, .80);
                transition: all .5s;
                z-index: 2;
            }
            &:hover{
                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 0;
        padding-top: 100%;
        transition: transform .75s;
        img {
            display: none;
        }
    }
    &-item:hover &-image {
        transform: scale(1.1);
    }
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem 2.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
        transform: translateY(100%);
        opacity: 0;
        transition: all .75s;
    }
    &-item:hover &-overlay {
        transform: translateY(0);
        opacity: 1;
    }
    &-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-caption {
        color: $color-white!important;
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
    }
    &-metainfo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        > div {
            margin-right: 1.5rem;
            span, a {
                position: relative;
                padding-left: 2.6rem;
                display: -block;
                height: 1.6rem;
                color: $color-white!important;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1em;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 2rem;
                    height: 1.6rem;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    
    &-likes {
        span {
                &::after {
                background-image: url('../images/theme-base/instagram/like-icon.svg');
                @include bgimage-themes("instagram/like-icon.svg");
            }
        }
    }
    &-comments {
        span{
            &::after {
                background-image: url('../images/theme-base/instagram/comments.svg');
                @include bgimage-themes("instagram/comments.svg");
            }
        }
            
    }
    &-plink {
        margin-right: 0!important;
        margin-left: auto;
        align-self: flex-end;
        a {
            padding-left: 2rem!important;
            background-position: right center!important;
            &::after {
                background-image: url('../images/theme-base/instagram/instagram-small-icon.svg');
                @include bgimage-themes("instagram/instagram-small-icon.svg");
            }
        }   
    }
    &-custom-text {
        padding: 2rem 5rem;
        p {
           color: $color-white;
           margin: 0 0 2rem;
           font-size: 1.4rem;
           line-height: 1.6em;
           font-weight: 400;
        }
        h5 {
            margin: 0;
            padding-top: 2.5rem;
            font-size: 2.6rem;
            font-weight: 300;
            a {
                color: #fce0a2;
                @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: secondary);
            }
        }
    }
}