.cr-map {
    
    &-infobox {
        &-cta-wrap {
            a.cr-button-bordered {
                
                &::before {
                    background-color: $color-base;
                    @each $theme-name, $theme-color in $themes-map-primary {
                        .theme-#{$theme-name} & {
                            color: $color-white;
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    @include respond(tab-port) {
        &-filter {
            &s{
                height: auto;
                position: relative;
                line-height: 1em;
            }
            &s-list {
                margin: 0;
            }
            &-icon {
                margin: 0 3px;
            }
        }
    }
}