.cr-map {
    @include respond(tab-port) {
        &-wrap {
            margin-left: 0;
            margin-right: 0;
        }
        &-con {
            margin-top: 0;
        }
    }
    &-infobox {
        &-cta-wrap {
            a.cr-button-bordered {
                
                &::before {
                    background-color: $color-base;
                    @each $theme-name, $theme-color in $themes-map-primary {
                        .theme-#{$theme-name} & {
                            color: $color-white;
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    @include respond(tab-port) {
        &-filter {
            &s{
                height: auto;
                position: relative;
                line-height: 1em;
            }
            &s-list {
                margin: 0;
            }
            &-icon {
                margin: 0 3px;
            }
        }
        &-infobox {
            width: 340px;
            padding-left: 0;
            &-title {

            }
            &-image {
                padding-right: 15px;
                img {
                    width: 100px!important;
                }
            }
            &-text {
                p {
                   margin-bottom: 15px; 
                }
            }
        }
    }
    @include respond(phone) {
        &-filter {
            &s{
                height: auto;
                position: relative;
                line-height: 1em;
            }
            &s-list {
                margin: 0;
            }
            &-icon {
                margin: 0 3px;
            }
        }
        &-infobox {
            width: 280px;
            &-title {

            }
            &-image {
                padding-right: 15px;
                img {
                    width: 100px!important;
                }
            }
            &-text {
                p {
                   margin-bottom: 15px; 
                }
            }
        }
    }
}