.property-slider {
    &-wrap {
        @include respond(tab-port) {
            margin-left: 0;
            margin-right: 0;
            background: transparent;
            padding-bottom: 48px!important;
        }
    }
    &-inner {
        @include respond(tab-port) {
            width: auto;
            max-width: 100%;
            margin: 0 36px;
        }
    }
    &-item {
        .slick-slide:not(.slick-active) &::before {
            @include respond(tab-port) {
                background-color: rgba($color-white, .60);
            }
        }
    }
    &-stripe {
        @include respond(tab-port) {
            display: none;
        }
    }
    &-text {
        @include respond(tab-port) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;
            padding: 0;
            width: auto;
            &-title-subtitle {
                position: absolute;
                top: 50%;
                left: 18px;
                right: 18px;
                transform: translateY(-50%);
                padding: 24px 20px;
                background-color: rgba(#f1f1f1, .7);
            }
            &-title {
                font-size: 24px;
                margin: 0;
                text-align: center;
            }
            &-subtitle {
                font-size: 20px;
                text-align: center;
                margin: 0;
            }
            p {
                display: none;
            }
            & &-cta {
               position: absolute;
               top: 100%;
               left: 0;
               right: 0;
               text-align: center;
            }
        }
        @include respond(phone) {
            &-title {
                font-size: 20px;
            } 
            &-subtitle {
                font-size: 16px;
            }
        }
        &-subtitle {
            @include color-themes($color:true, $bgcolor:false, $border-color:false, $color-type: base);
        }
        
    }
    &-image {
        @include respond(phone) {
            padding: 94% 0 0;
        }
    }
    &-arrow-left, &-arrow-right {
        .cr-ar-circle, .cr-ar-circle-hover {
            @include respond(tab-port) {
                stroke: $color-black;
            }
        }
    }
    &-arrow-left {
        @include respond(tab-port) {
            transform: scale(.4) translateX(-65%);
        }
    }
    &-arrow-right {
        @include respond(tab-port) {
            transform: scale(.4) translateX(65%);
        }
    }
    
}