
.cr-scc-text {
    @include respond(tab-port) {
        font-size: 14px;
    }
}
.cr-scc-buttons {
    li {
        @include respond(tab-port) {
            margin: 0 6px 10px;
        }
        a {
            background-color: $color-base;
            color: $color-white;
            &, &:link, &:visited{
                @include respond(tab-port) {
                    padding: 20px 36px;
                }
            }
            &:link, &:visited{
                background-color: $color-base;
                color: $color-white;
            }
            @include color-themes($color:false, $bgcolor:true, $border-color:false, $color-type: base);
            &:hover, &:active {
                
            }
        }
    }
}