.sticky-side-nav {
    position: fixed;
    right: 0;
    top: 50%;
    width: 14.8rem;
    transform: translate(100%, -50%);
    transition: all .75s;
    transition-delay: 1s;
    z-index: 100;
    .page-loaded & {
        transform: translate(0, -50%);
    }
    &.sticky-side-nav-collasped {
        transform: translate(9.4rem, -50%);
    }
    &-items {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &-item {
        padding: 0;
        background-color: rgba($color-black, .86);
        position: relative;
        border-bottom: 1px solid #323232;
        transition: all .75s;
        &-ls {
            
        }
        &:last-child {
            border-bottom: 0 none;
        }
        &:hover {
            .sticky-side-nav-collasped & {
                transform: translateX(-9.4rem);
            }
                
            > a , > a:link, > a:visted{
                color: $color-white;
            }
        }
        > a {
            &, &:link, &:visited {
                display: block;
                padding: 0 2rem 0 5.4rem;
                height: 4.4rem;
                font-size: 1.2rem;
                line-height: 4.4rem;
                color: $color-white;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        &-icon {
            position: absolute;
            left: 1.6rem;
            top: 50%;
            transform: translateY(-50%);
            width: 2.4rem;
            height: 2rem;
            text-align: left;
            svg, img {
                height: 2rem;
                width: auto;
                display: block;
            }
        }
        &-text {
            position: relative;
            display: inline-block;
        }
    }
    .cr-language-chooser {
        @include clearfix;
        border: 0 none;
        margin: 0 0 0 1.2rem;
        padding: 0 0 0 3.6rem;
        position: relative;
        > a {
            float: left;
            padding: 0 .6rem;
            margin: 0;
            width: auto;
            min-height: 0;
            font-size: 1.2rem;
            line-height: 4.5rem;
            height: 4.5rem;
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            &.cr-language-active {
                position: absolute;
                left: 0; 
                top: 0;
                margin: 0;
                font-size: 1.6rem;
                padding-left: .4rem;
            }
            &.cr-language-active {
                &, &:hover, &:active {
                    //color: $color-base-secondary;
                    color: #e7a615;
                    @include color-themes($color:true, $border-color: false, $bgcolor:false, $color-type: secondary);
                }
            }
            &:hover, &:active {
                color: $color-white;
            }
        }
    }    
}