.cr-title-icons{
    @include respond(phone) {
        &-title {
            font-size: 24px;
        }
        &-list-wrap {
            text-align: center;
        }
        &-list {
            display: inline-block;
            max-width: 240px;
            li {
                margin: 0 20px 20px;
                a {
                }
                img {
                    height: 3rem;
                }
            }
        }
    }
}