/**
Custom Styles
*/

textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
.accommodations-item-text{
background: rgba(0,0,0,0.75);
	padding:5px 0px 5px 0px;
}

.package-column h4{
	color:#edb330;
}
.cr-module-wrap ul{
	margin:0px 0px 0px 45px;
}
.header-primary-menu>li .cr-menu-level-1>li .cr-menu-item-content>a {
    position: absolute !important;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all .65s .3s;
    transition: all .65s .3s;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
}
/*++ padding on the button as 2.4rem 8rem++ */
.cr-scc-buttons li {
     margin: 0.7rem 3.5rem;
    -webkit-transition: all .75s;
    transition: all .75s;
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
}
.cr-scc-buttons:last-child, .cr-scc-buttons *:last-child {
 margin-bottom: 0.7rem;
}
.cr-button, .cr-button:link, .cr-button:visited {
    background-color: #e5a514;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2.4rem 8rem;
    position: relative;
    border: 0;
    cursor: pointer;
    z-index: 1;
    font-family: 'Open Sans',sans-serif;
}
.expanding-image-item .expanding-image-item-cta.cr-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
    z-index: 2;
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 20px!important;
	padding:2.5rem 4rem 2.5rem!important
}
/*++++ font colour lighter gold ++++ */
.cr-instagram-feed-custom-text{
	color:#fce0a2!important;
	font-size: 26px!important;
		font-weight: 300!important;
}
.cr-instagram-feed-custom-text a{
	color:#fce0a2!important;
	font-size: 26px!important;
		font-weight: 300!important;
}
.cr-sc-title {   
    font-weight: 300;   
	margin-bottom: .8rem;
	font-size: 24px;
}
.cr-sc-subtitle {
    color: #e5a514;
	font-weight: 400;
}

/*++++ make soc media icons same width ++++ */
.cr-title-icons-list li a {
    width: auto!important;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.cr-grid-col {
  
    padding: 0 .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}
.cr-grid-row{
    margin-left: 0;
    margin-right: 0;
	
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.site-branding .site-logo .site-main-logo {
    width: auto!important;
    height: auto;
    left: 47px;
}
/*++++ tagline Styles++++ */
#totalAdultsWithOccupancy option{
    padding-left: .4em;

}

.cr-button-secondary-bordered, .cr-button-secondary-bordered:link, .cr-button-secondary-bordered:visited{
      border: 1px solid #e5a514!important;
    color: #e5a514!important;
    display: inline-block;   
}
.hero-slider-caption-1 .hero-slider-caption-title {
     letter-spacing: 1px;
	text-transform:uppercase;
}
.hero-slider-caption-1 .hero-slider-caption-subtitle {
    color: #f1b225!important;
}
.hero-slider-caption-2 .hero-slider-caption-subtitle {
    color: #e5a514;
	 font-weight: 600!important;
	letter-spacing:2px!important;
}
.hero-slider-caption-2 .hero-slider-caption-desc {
    font-size: 2rem;
    line-height: 1.8em;
    font-weight: 300;
    margin-top: 4rem;
    color: #fff;
	letter-spacing:0.5px!important;
}
.hero-slider-caption-3 .hero-slider-caption-subtitle{
    font-size: 3.6rem;
    line-height: 1.4em;
    font-weight: 400;
    color: #fff;
    margin-top: 4rem;
    text-transform: uppercase;
    letter-spacing: 4px!important;
	text-shadow: 1px 2px 0 #000!important;
}
.hero-slider-caption-3 .hero-slider-caption-title{
    font-size: 3rem;
    line-height: 1.4em;
    font-weight: 600!important;
    color: #fff;
    text-transform: uppercase;
	text-shadow: 1px 2px 0 #000!important;
}

.hero-slider-caption-4 .hero-slider-caption-title {
    font-size: 3.4rem;
    line-height: 1.4em;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2.6rem!important;
}
.hero-slider-caption-4 .hero-slider-caption-desc {
    font-size: 1.8rem;
    line-height: 2.2em!important;
    font-weight: 300;
    margin-top: 2.6rem!important;
    color: #fff;
}

.cr-button-secondary, .cr-button-secondary:link, .cr-button-secondary:visited {
    background-color: #e5a514!important;
    color: #fff;
    display: inline-block;
       font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 3.6rem 2rem;
    position: relative;
    border: 0;
    cursor: pointer;
    z-index: 1;
}