@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin color-themes($color:false, $bgcolor:false, $border-color:false, $color-type: base) {
    $themes: $themes-map-primary;
    @if $color-type == secondary {
        $themes: $themes-map-secondary;
    } @else if $color-type == tertiary {
        $themes: $themes-map-tertiary;
    }
    
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            @if $bgcolor {
                background-color: $theme-color;
            }
            @if $color == true {
                color: $theme-color;
            } @else if $color != false {
                color: $color;
            }
            @if $border-color {
                border-color: $theme-color;
            }
        }
    }
}
@mixin bgimage-themes($image: false) {
    @each $theme-name, $imgroot in $themes-map-bgimage {
        .theme-#{$theme-name} & {
            @if $image {
                background-image: url('../images/#{$imgroot}/#{$image}')
            }
        }
    }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1600] is where our normal styles apply
1600 - 1920 :      Large desktop
1920+ :      Even Larger desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == desk-large {
        @media only screen and (min-width: 100em) { @content };    //1600
    }
    @if $breakpoint == desktop-larger {
        @media only screen and (min-width: 120em) { @content };    //1920
    }
}

